NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_CONTACT_PHONE=+62 812-3456-7891
NEXT_PUBLIC_CONTACT_EMAIL=hi@balerejo.desa.id

NEXT_PUBLIC_STAT_PENDUDUK=±2.500
NEXT_PUBLIC_STAT_KK=±800
NEXT_PUBLIC_STAT_DUSUN=4
NEXT_PUBLIC_STAT_KABUPATEN=Blitar
