NEXT_PUBLIC_SITE_URL="https://umkm.balerejo.desa.id"

NEXT_PUBLIC_CONTACT_PHONE="+62 812-3456-7891"
NEXT_PUBLIC_CONTACT_EMAIL="hi@balerejo.desa.id"

# Koordinat Lokasi UMKM — Balerejo 1 (placeholder), Balerejo 2 (GPS dari docx)
NEXT_PUBLIC_UMKM_LOC_1_LAT="-8.2892"
NEXT_PUBLIC_UMKM_LOC_1_LNG="112.2998"
NEXT_PUBLIC_UMKM_LOC_2_LAT="-8.2883"
NEXT_PUBLIC_UMKM_LOC_2_LNG="112.2985"
NEXT_PUBLIC_UMKM_LOC_3_LAT="-8.2875"
NEXT_PUBLIC_UMKM_LOC_3_LNG="112.2972"
NEXT_PUBLIC_UMKM_LOC_4_LAT="-8.2867"
NEXT_PUBLIC_UMKM_LOC_4_LNG="112.2960"
NEXT_PUBLIC_UMKM_LOC_5_LAT="-8.2900"
NEXT_PUBLIC_UMKM_LOC_5_LNG="112.3008"
NEXT_PUBLIC_UMKM_LOC_6_LAT="-8.2858"
NEXT_PUBLIC_UMKM_LOC_6_LNG="112.2950"
NEXT_PUBLIC_UMKM_LOC_7_LAT="-8.2848"
NEXT_PUBLIC_UMKM_LOC_7_LNG="112.2942"
NEXT_PUBLIC_UMKM_LOC_8_LAT="-8.2838"
NEXT_PUBLIC_UMKM_LOC_8_LNG="112.2933"
NEXT_PUBLIC_UMKM_LOC_9_LAT="-8.2828"
NEXT_PUBLIC_UMKM_LOC_9_LNG="112.2920"
NEXT_PUBLIC_UMKM_LOC_10_LAT="-8.2820"
NEXT_PUBLIC_UMKM_LOC_10_LNG="112.2910"
NEXT_PUBLIC_UMKM_LOC_11_LAT="-8.2812"
NEXT_PUBLIC_UMKM_LOC_11_LNG="112.2902"
NEXT_PUBLIC_UMKM_LOC_12_LAT="-8.2895"
NEXT_PUBLIC_UMKM_LOC_12_LNG="112.3033"
NEXT_PUBLIC_UMKM_LOC_13_LAT="-8.2879"
NEXT_PUBLIC_UMKM_LOC_13_LNG="112.3042"
NEXT_PUBLIC_UMKM_LOC_14_LAT="-8.2889"
NEXT_PUBLIC_UMKM_LOC_14_LNG="112.3037"
NEXT_PUBLIC_UMKM_LOC_15_LAT="-8.2882"
NEXT_PUBLIC_UMKM_LOC_15_LNG="112.3048"
NEXT_PUBLIC_UMKM_LOC_16_LAT="-8.2892"
NEXT_PUBLIC_UMKM_LOC_16_LNG="112.3037"
NEXT_PUBLIC_UMKM_LOC_17_LAT="-8.2878"
NEXT_PUBLIC_UMKM_LOC_17_LNG="112.3055"

NEXT_TELEMETRY_DISABLED="1"
